*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}

body{
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

#header{
  width: 100%;
  height: 100vh;
  background-image: none; /* Add main background image here, prolly like a professional photo */
  background-size: cover;
  background-position: center;
}

.container{
  padding: 10px 10%;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}      

.logo{
  width: 140px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

/* if you wanna add shit where you hover over and the line appears, watch from 15:00*/

nav ul li a::after{
  content: '';
  width: 100%;
  height: 3 px;
  background: red;
  position: absolute;
  left: 0;
  bottom: -6px;
}

.header-text{
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1{
  font-size: 60px;
  margin-top: 0%;
}

/* ------------------- Portfolio -------------------*/
#portfolio{
  padding: 50px 0;
}

.portfolio-list{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.portfolio{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.portfolio img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a{
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.portfolio:hover img{
  transform: scale(1.1);

}

.portfolio:hover .layer{
  height: 100%;

}

/* ------------------- Contact -------------------*/
.contact-left{
  flex-basis: 35%;

}

.contact-right{
  flex-basis: 60%;
  margin-right: 20px;
}
/* ------------------- done -------------------*/
